/* Estilos globais */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/background.jpeg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.cadastro-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-form h2 {
  margin-bottom: 25px;
  color: #333;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%; /* Para que o título ocupe a largura total */
}

.cadastro-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.cadastro-form input:focus {
  border-color: #007bff;
  outline: none;
  background-color: #fff;
}

.cadastro-form .error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%; /* Ocupa a largura total do formulário */
  text-align: left; /* Alinha a mensagem à esquerda */
}

.cadastro-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px; /* Espaçamento em cima do botão */
}

.cadastro-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.cadastro-form p {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.cadastro-form a {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.cadastro-form a:hover {
  text-decoration: underline;
}

/* Ajustes de espaçamento para a mensagem de erro */
.cadastro-form .error-message {
  margin-top: -5px; /* Ajuste fino para a margem superior */
  margin-bottom: 15px; /* Adiciona espaço entre a mensagem e o próximo campo */
}

/* Responsividade */
@media (max-width: 768px) {
  .cadastro-form {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .cadastro-form {
    padding: 15px;
    max-width: 100%;
  }

  .cadastro-form h2 {
    font-size: 20px;
  }

  .cadastro-form button {
    font-size: 14px;
  }
}
