/* Container principal */
.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../image/background.jpeg");
  background-size: cover;
}

/* Formulário */
.reset-password-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 600px;
  width: 100%;
}

.reset-password-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.reset-password-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Botões */
.buttons {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.back-btn,
.reset-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn {
  background-color: #ccc;
  color: #333;
}

.reset-btn {
  background-color: #333;
  color: white;
}

.reset-btn:hover {
  background-color: #555;
}

.email {
  text-align: left;
}
