.Main-Header{
    height: 100px;
    width: 100%;
    display: grid;
    color: rgb(255, 255, 255);
    background-color: aqua;
    grid-template-areas:
    "nav-left-top nav-center-top nav-right-top"
    "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px;
    position: static;
    max-width: 2000px;
  }
  .Input-Products{
    width: 400px;
    position: static;
    border-radius: 15px;
    border-color: azure;
    position: static;
  }
  
  .Image-Cirilo{
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    object-fit: cover; 
    position: static;
  }
  .Image-Logo{
    border-radius: 10%;
    width: 120px;
    height: 120px; 
    object-fit: cover;
    position: absolute;
  }
  #app {
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 350px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 50%;
    position: absolute;
    height: 300px;
    object-fit: contain;
  }
  